{% extends 'cache_hw/base.html' %}
{% block title %}Authors{% endblock %}

{% block content %}
    Count of authors: {{ count_authors }}
    {% if page_obj %}
        {% for i in page_obj %}
            <table border="2" bordercolor="black" bgcolor="white" width="300"> <!-- New table in every loop is correct -->
                <tr><td style="width:300px">{{ i.name }}</td></tr>
                <tr><td style="width:300px">Info: {{ i.info }}</td></tr>
            </table>
        {% endfor %}

    {% else %}
        <h1>There are not any authors, add some.</h1>
    {% endif %}
    {% include "cache_hw/pagination.html"%}
{% endblock %}
