{% extends 'cache_hw/base.html' %}
{% block title %}Quotes{% endblock %}

{% block content %}Count of posts: {{ count_posts }}
    {% load custom %}
    {% rand_quote quo as rand %}
    <h3>Rand quote: {{ rand.quotes }}</h3>
    <h4>Author: {{ rand.author }}</h4>
    {% if page_obj %}
        {% for i in page_obj %}
            <table border="2" bordercolor="black" bgcolor="white" width="300"> <!-- New table in every loop is correct -->
                <tr><td style="width:300px">{{ i.quotes|censoring:list1 }}</td></tr>
                <tr><td style="width:300px">Author: {{ i.author }}</td></tr>
            </table>
        {% endfor %}

    {% else %}
        <h1>There are not any posts, add some.</h1>
    {% endif %}
    {% include "cache_hw/pagination.html"%}
{% endblock %}
